.custom-textarea {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
    resize: none; /* Disable manual resizing */
    overflow-y: hidden; /* Hide vertical scrollbar */
}

.button-container {
    margin-top: 1rem; /* Add spacing above the Save button */
    text-align: right; /* Align Save button to the right */
}